.App {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.search-filter-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  background: lightblue;
  height: 100px;
  width: 800px;
  border: 1px solid gray;
}

.filter-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 800px;
  
  
}
